/* Comment.module.css */

.comment {
    margin-top: 10px;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
  }
  
  .comment p {
    margin: 6px 0;
    font-size: 14px;
  }
  
  .comment p:first-child {
    margin-top: 0;
  }
  
  .comment p:last-child {
    color: #888;
    font-style: italic;
  }
  .commentBy{
    color: #888;
    font-style: italic;
  }
  .commentActions {
    top: 5px;
    right: 5px;
  }
  
  .editButton,
  .deleteButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    width: auto;
  }
  
  .editButton:hover,
  .deleteButton:hover {
    background-color: #2980b9;
  }